@import url("https://fonts.googleapis.com/css?family=Open+Sans|Signika:700&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}
/* ESTILIZAÇAO DO FORM */
div.form {
  display: flex;

  align-items: center;
  flex-direction: column;
}
div.newsletter-form-div h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}
div.newsletter-form-div p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}
.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
label {
  font-size: 16px;
  margin-right: 10px;
}
input {
  padding: 7px 20px;
  margin-bottom: 20px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 320px;
}
::placeholder {
  text-align: left;
}

input[type="submit"] {
  width: 180px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: #4d65af;
  transition: background 0.2s;
}
input[type="submit"]:hover {
  background: #7697ce;
}
.carousel-indicators > li {
  border-radius: 60%;
  width: 8px;
  height: 8px;
}
/* ESTILIZAÇÃO DO NAV */
.nav {
  margin-top: 10px;
}
.nav a {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
.bg-dark {
  background-color: #4d65af !important;
}
