* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-top: 200px;
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}
div.form {
  display: flex;

  align-items: center;
  flex-direction: column;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
label {
  font-size: 16px;
  margin-right: 10px;
}
input {
  padding: 7px 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 320px;
}
::placeholder {
  text-align: left;
}

input[type="submit"] {
  width: 180px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  color: #fff;
  background: #222;
  transition: background 0.2s;
}
input[type="submit"]:hover {
  background: #ccc;
  color: #222;
}
